/* cards.css */
.card-container {
  display: flex;
  justify-content: center; /* Center align the cards horizontally */
  flex-wrap: wrap; /* Allow cards to wrap to the next line if needed */
  gap: 80px;
}

.card {
  padding-top: 90px;
  width: 300px; /* Set a fixed width for each card */
  margin: 0 10px; /* Add space between cards */
  box-sizing: border-box; /* Include padding and border in the element's total width and height */
  flex: 1 0 auto; /* Allow cards to grow and shrink as needed */
}

.card img {
  width: 100%; /* Make the image fill its container */
  max-height: 200px; /* Limit the maximum height of the image */
  object-fit: cover; /* Scale the image to cover the content box while maintaining aspect ratio */
  border-radius: 5px 5px 0 0; /* Rounded corners only at the top */
}

.card-content {
  background-color: #f9f9f9; /* Background color for the card content */
  padding: 20px; /* Add padding to the card content */
  border: 1px solid #ddd; /* Add border around the card content */
  border-radius: 0 0 5px 5px; /* Rounded corners only at the bottom */
}
